<div class="container">
  <h1>Project Examples</h1>
  <a href="https://github.com/sleahy115?tab=repositories"><h2>See more projects</h2></a>
  <h2>Grab A Bag </h2>
  <a href="https://github.com/sleahy115/Itinerary"><h4>See the code</h4></a>
  <h4>This Drupal 7 site is designed to take the stress out of planning for a vacation. The user will enter the duration of the trip and few activities that they enjoy and the site will return a personalized itinerary.  The itinerary takes into account the users mode of transportation and looks for activities in walking, driving, or in transit distance. The goal is to make it as easy as possible to plan a fun and stress-free trip. This project features several custom modules, the Google Places API and uses the Bootstrap theme.</h4>
  <div class="row">
    <div class="col-md-6">
      <h4>Check the weather</h4>
      <img src="./assets/images/Travel1.PNG" alt="Travel Site Screenshot" class="screenshot">
    </div>
    <div class="col-md-6">
      <h4>Create a Packing List</h4>
      <img src="./assets/images/Travel5.PNG" alt="Travel Site Screenshot" class="screenshot">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Answer a few questions</h4>
      <img src="./assets/images/Travel2.PNG" alt="Travel Site Screenshot" class="screenshot">
    </div>
    <div class="col-md-6">
      <h4>Custom itinerary created for you</h4>
      <img src="./assets/images/Travel4.PNG" alt="Travel Site Screenshot" class="screenshot">
    </div>
  </div>
  <h2>Gymnast Roster</h2>
  <a href="https://github.com/sleahy115/gymnast-roster-js.git"><h4>See the code</h4></a>
  <h4>This Angular 2 project is a roster for a gymnastic team. It features an admin portal allowing the admisistrator to add edit or delete gymnasts and scores. The site also has a user portal that display the entire roster, indivudal pages for each gymnast, or a list of gymnasts sorted by status.  </h4>
  <div class="row">
    <div class="col-md-6">
      <h4>Full Team Roster</h4>
      <img src="./assets/images/Gymnast1.PNG" alt="Gymnast Site Screenshot" class="screenshot2">
    </div>
    <div class="col-md-6">
      <h4>Admin portal</h4>
      <img src="./assets/images/Gymnast3.PNG" alt="Gymnast Site Screenshot" class="screenshot2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Individual gymnast page</h4>
      <img src="./assets/images/Gymnast4.PNG" alt="Gymnast Site Screenshot" class="screenshot">
    </div>
    <div class="col-md-6">
      <h4>Sort by status</h4>
      <img src="./assets/images/Gymnast2.PNG" alt="Gymnast Site Screenshot" class="screenshot">
    </div>
  </div>
</div>
