<div class="well" id="well">
  <h2>Add new blog entry</h2>
  <form>
    <label>Title</label>
    <input #newTitle class="form-control">
    <label>Date</label>
    <input #newDate class="form-control" type="date">
    <label>Author</label>
    <input #newAuthor class="form-control">
    <label>Entry</label>
    <textarea rows="3" cols="400" #newEntry class="form-control"></textarea>
    <button id="click" (click)="submitNewBlog(newTitle.value, newDate.value, newAuthor.value, newEntry.value)">Add Entry</button>
  </form>
</div>
