<div class="row">
  <div class="col-md-4" id="ink">
    <img src="./assets/images/Ink.jpg" alt="ink">
  </div>
  <div class="col-md-8" id="about">
    <h1>About Me</h1>
    <p> Through my career in customer and public service, I realized I had an affinity for processes and efficiency and the systems that deliver these experiences. I earned an AAS Degree in Computer Information Systems in 2016. I augmented my degree by attending
      Epicodus, a 7-month intensive in-person vocational coding program. I graduated the program with over 1,000 hours of real-world coding experience. As well as full lifecycle project experience as an intern with SimBco. I am excited to embark on the
      next step as a full-time developer. When I am not improving my coding skills I love to travel, read, and read about others travels. Please follow the links at the top of the page for examples of my work, a blog detailing my projects, and my resume.
    </p>
    <img src="./assets/images/dunes.jpg" alt="dunes" class="dunes">
    <h1>Contact Me</h1>
    <h3>Sleahy115@gmail.com</h3>
    <a href="https://www.linkedin.com/in/sarah-leahy/"><h3>LinkedIn</h3></a>
  </div>
</div>
