<div class="container" id="resume-container">
  <div class="row">
    <div class="col-md-8" id="main-col">
      <h2>EXPERIENCE</h2>
      <h3>SimB and CO, Beaverton, OR — Web Development Intern</h3>
      <p>June 2017 - July 2017</p>
      <ul>
        <li>Full development lifecycle support including wireframe, problem analysis and testing.</li>
        <li>Coding in PHP using the Symfony framework, Docker, and Tincan API.</li>
      </ul>
      <h2>PROJECTS</h2>
      <ul>
        <li>
          <h4>MineSweeper</h4>
          <a href="https://minesweeper-de6d0.firebaseapp.com/">Play Minesweeper</a>
          <p>Created using the Angular 2 framework. The idea was a to replicate the look and functionality of Windows 95 minesweeper. The app allows a user to save high scores on a leaderboard, and challege friends to play the same board.</p>
        </li>
        <li>
          <h4>Talkers</h4>
          <a href="https://stalking-caf97.firebaseapp.com/">Log in and find your friends</a>
          <p>Created using the Angular 2 framework integrated with google maps and firebase oauth. This site allows a user to log in and share their location with friends. Friends can also send messages through the app allowing them to get together when
            they are close.
          </p>
        </li>
        <li>
          <h4>Grab a bag</h4>
          <a href="https://github.com/sleahy115/Itinerary">Check the code and see screenshots</a>
          <p>Created in Drupal 7 and uses the google places API to create custom itineraries for users. The user answers a few questions about their interests and travel preferences and then an itinerary is generated that takes into account interestes, food
            preferences, and mode of transport.</p>
        </li>
      </ul>
      <h3>City of Denver 911, Denver, CO — Emergency Communications Operator</h3>
      <p>April 2015 - December 2016</p>
      <ul>
        <li>Exercised clear and concise communication skills</li>
        <li>Delivered critical crisis support, rapid situation analysis and coordination deployment of resources.</li>
        <li>Trained new hires</li>
      </ul>
      <h3>Conway Freight, Henderson, CO — Customer Service/OS+D</h3>
      <p>April 2010 - April 2015</p>
      <ul>
        <li>Customer service support to international delivery organization.</li>
        <li>Streamlined delivery procedure for shipments consigned to post offices resulting in a cost reduction of 25%.</li>
        <li>Trained new hires</li>
        <li>Piloted more efficient billing procedures resulting in reduced cost and time spent per bill.</li>
        <li>Established Standard Work Instruction (SWI) process for the Albuquerque service center.</li>
      </ul>
    </div>
    <div class="col-md-4" id="side-col">
      <h2>SKILLS</h2>
      <h4 class="proficent">Proficent:</h4>
      <ul>
        <li>PHP</li>
        <li>Symfony</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>HTML/CSS</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>SQL</li>
      </ul>
      <h4 class="proficent">Working Knowledge:</h4>
      <ul>
        <li>Git</li>
        <li>Firebase/ NoSQL</li>
        <li>Silex/Twig</li>
        <li>Drupal</li>
        <li>Docker</li>
        <li>Doctorine</li>
        <li>Ember</li>
        <li>Node JS/Gulp/Bower</li>
      </ul>
      <h2>EDUCATION</h2>
      <ul>
        <li>
          <h4>Epicodus Coding Boot camp, Portland, OR</h4>
          <p>January 2017-July 2017</p>
          <p>Intensive in-person vocational coding program. Logged over 1,000 hours coding real-world projects. Primary focus: PHP and Javascript.</p>
        </li>
        <li>
          <h4>Arapahoe Community College, Littleton, CO — AAS Computer Information Systems</h4>
          <p>2016</p>
          <p>Focus: computer support and security. A+ certification in computer hardware, Network + Security Certification</p>
        </li>
      </ul>
      <h2>AWARDS</h2>
      <ul>
        <li>Life Saver Award 2015</li>
        <li>Employee of the Month 2015</li>
        <li>Quarterly Leader Award 2012</li>
        <li>K5 performer- Top 5% of performers</li>
      </ul>
    </div>
  </div>
</div>
