#about {
  width: 55%;
  margin-right: 50px;
}

.dunes {
  height: 250px;
  width: 600px;
}

#ink img{
  width: 80%;
  height: 65pc;
  margin-left: 50px;
}

.jumbotron {
    text-align: center;
    background-color: #427ba3;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.nav a {
    font-size: 25px;
    text-align: left;
    color: #427ba3;
}

.nav a:hover {
    text-decoration: underline;
    color: #2b3342;
}
